{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'blog/favicon.svg' %}"
      type="image/x-icon"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'blog/main.css' %}"
    />
    {% if title %}
    <title>{{ title }} - INTOWEB</title>
    {% else %}
    <title>INTOWEB</title>
    {% endif %}
  </head>
  <body class="overflow-x-hidden text-neutral-200 bg-neutral-950">
    <div class="w-screen flex flex-col h-screen justify-between">
      <!-- HEADER -->
      {% include 'components/header.html' %}

      <!-- MAIN CONTENT -->
      <main class="px-4 pb-8 mb-auto">
        <div class="container max-w-4xl mx-auto mt-24 h-full">
          {% block content %} {% endblock %}
        </div>
      </main>

      <!-- FOOTER -->
      {% include 'components/footer.html' %}

      <!-- ALERT WINDOW -->
      <div class="flex flex-col-reverse gap-3 left-6 bottom-6 fixed">
        {% if messages %} {% for message in messages %}
        <div class="p-6 bg-zinc-900 rounded-2xl border border-neutral-700">
          <p class="text-stone-300 text-md font-normal">{{ message }}</p>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </body>
</html>
