{% extends "blog/base.html" %} {% load static %} {% block content %}
<div class="feed-grid sm:grid block">
  <div
    class="sm:flex py-6 border-r border-neutral-800 flex-col justify-center items-start gap-5 h-fit sticky top-[72px] hidden"
  >
    {% for category in categories %}
    <a
      href="{% url 'blog/feed' %}?category={{ category.category.name }}"
      class="flex flex-row gap-2 text-md items-center justify-start opacity-60 hover:opacity-90 transition-opacity text-slate-400"
    >
      <img
        src="{{ category.icon }}"
        alt="{{ category.icon }}"
        class="w-5 h-5"
      />
      {{ category.title }}
    </a>
    {% endfor %}
    <a
      href="{% url 'blog/feed/new' %}"
      class="pt-5 flex flex-row gap-2 border-t border-neutral-800 justify-start items-center w-full font-medium text-slate-400 opacity-80 hover:opacity-100"
    >
      <img
        src="{% static 'blog/icons/plus-outline.svg' %}"
        alt="plus-outline-icon"
      />
      Create post
    </a>
  </div>
  <div>
    {% if posts %}
    <h1 class="text-2xl font-semibold">Recent posts</h1>
    <div class="flex flex-col gap-2 mt-4">
      {% for post in posts %} {% include 'components/article.html' %} {% endfor %}
    </div>
    {% else %}
    <div class="w-full h-full flex flex-col gap-1 items-center justify-center">
      <p class="text-md text-center text-neutral-400">~(≧ω≦)~</p>
      <h1 class="text-2xl font-semibold">Nothing here</h1>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
